<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <title>B2W Coming Soon!</title>
    <meta name="description" content="B2W Coming Soon!" >
    <meta name="author" content="Back to Wars">


    <script type="text/javascript">

        var player_username = '{{username}}';
        var hash_code = '{{code}}';
        var cardBackImage = '{% static 'battle/other/Card_back.png' %}';
        var cardStorage = '{% static 'battle/other/cards/' %}';
        var backgroundImage = '{% static 'battle/other/Background.png' %}';
        var cardFormat = '.png';

    </script>

</head>
<body>
    <!-- jQuery Library -->
    <script type="text/javascript" src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>
    <!-- Modernizr js -->
    <script type="text/javascript" src="{% static 'assets/js/modernizr-2.8.0.min.js' %}"></script>
    <!-- Plugins -->
    <script type="text/javascript" src="{% static 'assets/js/plugins.js' %}"></script>
    <!-- Pixi Library -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/3.0.9/pixi.js"></script>
    <!-- TWEEN Library -->
    <script type="text/javascript" src="{% static 'battle/js/Tween.js' %}"></script>
    <!-- Custom play script -->
    <script type="text/javascript" src="{% static 'battle/js/Play.js' %}"></script>
</body>
</html>
